In [134]:
print(1234)

1234

In [135]:
print(-1234)

-1234

In [136]:
10+3
10-3
10*3
10/3
10//3
10%3
10**3

1000

In [137]:
10/3

3.3333333333333335

In [138]:
10//3

3

In [139]:
c = 60
c = c / 8
print(c)

7.5

In [140]:
int(3.4)

3

In [141]:
float(3)

3.0

In [142]:
f = 3.5
int(f)

3

In [143]:
print('hello world')

hello world

In [144]:
print('김 \n ')

김

In [145]:
print('김 /n ')

김 /n

In [146]:
girlsday = '민아 유라 소진 혜리'
type(girlsday)

str

In [147]:
girlsday = '민아 유라 소진 혜리'


list3 = girlsday.split(' ')
type(girlsday)
type(list3)
#print(girlsday)

list

In [148]:
d = '37'
f = '3.14'
s = 'Fastcampus'
'{} {} {}'.format(d, f, s)

'37 3.14 Fastcampus'

In [149]:
multi_lines = '''한줄
두줄'''

print(multi_lines)

한줄
두줄

In [150]:
multi_lines

'한줄\n두줄'

In [151]:
str1 = '첫번째'
str2 = '두번재'
str3 = str1 + str2
print(str3)

첫번째두번재

In [152]:
print(str1*5)

첫번째첫번째첫번째첫번째첫번째

In [153]:
numbers = [1, 2, 3]
length = len(numbers)
i = 0
while i < length:
    print(numbers[i])
    i = i + 1

1
2
3

In [154]:
sample_list2 = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [155]:
print(sample_list2[4])
print(sample_list2[6])

May
Jul

In [156]:
print(sample_list2[::2])

['Jan', 'Mar', 'May', 'Jul', 'Sep', 'Nov']

In [157]:
print(sample_list2[-1:-3:-1])

['Dec', 'Nov']

In [158]:
print(sample_list2[-1::-2]) #-1은 뒤에서 첫번째라는 의미이므로 아래와 같다.
print(sample_list2[::-2])
print(sample_list2[::-1])

['Dec', 'Oct', 'Aug', 'Jun', 'Apr', 'Feb']
['Dec', 'Oct', 'Aug', 'Jun', 'Apr', 'Feb']
['Dec', 'Nov', 'Oct', 'Sep', 'Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

In [159]:
fruits = ['apple', 'banana', 'melon']
fruits.insert(0, 'mango')
print(fruits)

['mango', 'apple', 'banana', 'melon']

In [160]:
list2 = list('fastcampus')
tuple2 = tuple('fastcampus')
type(list2)

list

In [161]:
type(tuple2)

tuple

In [162]:
list2_str = ''.join(list2)
tuple2_str = ''.join(tuple2)
type(list2_str)

str

In [163]:
type(tuple2_str)

str

In [164]:
list = list('fastcampus')

In [165]:
del list  # 앞에서 선언한 list값을 지워주고 나면 다시 list함수를 호출할 수 있다.

In [166]:
list2 = list('fastcampus')

In [167]:
list3 = ['a', 'b', 'c']
print(list3)

['a', 'b', 'c']